@import '../../../styles/utils/abstract';

.googleLoginBtn {
  font-weight: 600;
  line-height: px2rem(20);
  padding: px2rem(10);
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  height: px2rem(40);
  color: rgba(0, 0, 0, 0.54);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.24);
  border-radius: px2rem(2);
  border: 1px solid transparent;
  font-size: px2rem(14);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
  div {
    display: flex;
    align-items: center;
  }
}
