@import '../../styles/utils/abstract';

.base {
  position: relative;
  background-color: $primaryGray;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.particlesWrapper {
  display: block;
  width: 100vw;
  height: 100vh;
}

.halfBlock {
  background-color: $chatGreen;
  position: absolute;
  @include media(md) {
    transform: rotate(60deg);
    width: 150vw;
    height: 150vh;
    left: 10%;
    bottom: 0;
  }
}

.logoWrapper {
  position: absolute;
  margin: auto;
  bottom: 0;
  right: 0;
  top: 0;
  width: 50%;
  z-index: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.loginWrapper {
  position: absolute;
  top: 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  flex-flow: column;
  z-index: 2;
}

.displayError {
}

.activeError {
}

.loginTitle {
}
