@import '../../styles//utils//abstract';

.base {
  display: flex;
  margin: 0;
  flex-flow: column;
}

.chatList {
  padding: 0 25px 0 30px;
  height: 75vh;
  overflow-y: scroll;
}

.chatList::-webkit-scrollbar {
  width: 10px;
  background: $secondaryGray;
  // background-color: transparent;
  border-radius: 10px;
}
.chatList::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
